<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="text-center">Show Website data</h1>
        <% if @website %>
          <table class="table table-responsive">
            <tbody>
              <tr>
                <td>Site name</td>
                <td colspan="2"><%= @website.name %></td>
              </tr>
              <tr>
                <td>Domain name</td>
                <td colspan="2"><%= @website.domain_name %></td>
              </tr>
              <tr>
                <td>Secrete ID</td>
                <td colspan="2"><%= @website.secrete_id %></td>
              </tr>
              <tr>
                <td>Secrete Token</td>
                <td><%= @website.secrete_token %></td>
                <td><%= link_to 'Regenerate', secrets_path, class: 'btn btn-default btn-xs' %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Edit', edit_website_path(@website), class: 'btn btn-primary pull-left' %>
          <%= link_to 'Delete', website_path(@website), method: :delete, class: 'btn btn-danger pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
