<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Single login', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to 'Websites', websites_path %></li>
        <li><%= link_to 'Profile', profile_path %></li>
        <li><p class="navbar-text"><%= current_user.email %></p></li>
        <% if current_user&.profile&.avatar? %>
          <li>
            <div class="user-header-icon" style="background-image: url(<%= current_user.profile.avatar.thumb.url %>)"></div>
          </li>
        <% end %>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Sign up', new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <% flash.each do |key, message| %>
            <div class="alert alert-<%= key.to_s %>" role="alert">
              <%= message %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>